<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="achtelfinale finals_wrapper">
            <h1>Achtelfinale</h1>
            <div class="games_wrapper">
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
            </div>
        </div>

        <div class="viertelfinale finals_wrapper">
            <h1>Viertelfinale</h1>
            <div class="games_wrapper">
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
            </div>
        </div>

        <div class="semifinals finals_wrapper">
            <h1>Semifinale</h1>
            <div class="games_wrapper">
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
            </div>
        </div>

        <div class="finals finals_wrapper">
            <h1>Finale</h1>
            <div class="games_wrapper">
                <div class="game_wrapper">
                    <img class="team home" src="images/germany.JPG" width="100px"></img>
                    <div class="team divider">|</div>
                    <img class="team away" src="images/italy.JPG" width="100px"></img>
                </div>
            </div>
        </div>

    </div>

</body>

</html>